services:
  financeapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: finance-api
    ports:
      - "8080:8080"
    volumes:
      - ./logs:/app/logs
    environment:
      - JAVA_OPTS=-Xmx512m -Xms256m
    restart: unless-stopped
    networks:
      - finance-network
    entrypoint: [
      "infisical", "run",
      "--domain=${INFISICAL_DOMAIN}",
      "--projectId=${INFISICAL_PROJECT_ID}",
      "--env=${INFISICAL_ENVIRONMENT}",
      "--token=${INFISICAL_TOKEN}",
      "--",
      "java", "-jar", "app.jar"
    ]

networks:
  finance-network:
    driver: bridge